<!DOCTYPE html>
<html class="screen-top" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
    <div id="huro-app" class="app-wrapper">
        <div class="app-overlay"></div>
        <!--Pageloader-->
        <!-- Pageloader -->
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>
        {% block mobile_navbar %}
            <!--Mobile navbar-->
{#            {% include 'dashboard/components/mobile-navbar.html.twig' %}#}
        {% endblock %}
        {% block circular_menu %}
        <!--Circular menu-->
            {% include 'dashboard/components/menu-circular-collapse.html.twig' %}
        {% endblock %}
        {% block sidebar %}
        <!--Sidebar-->
            {% include 'dashboard/components/sidebar.html.twig' %}
        {% endblock %}
        {% block languages %}
            <!--Languages panel-->
            {% include 'dashboard/components/languages.html.twig' %}
        {% endblock %}

        {% block activity_panel %}
            <!--Activity panel-->
{#            {% include 'dashboard/components/activity-panel.html.twig' %}#}
        {% endblock %}

        <!--Search panel-->
        <div id="search-panel" class="right-panel-wrapper is-search is-left">
            <div class="panel-overlay"></div>
            <div class="right-panel">
                <div class="right-panel-head">
                    <img class="light-image" src="assets/img/logos/logo/logo.svg" alt=""/>
                    <img class="dark-image" src="assets/img/logos/logo/logo-light.svg" alt=""/>
                    <a class="close-panel">
                        <i data-feather="chevron-left"></i>
                    </a>
                </div>
                <div class="right-panel-body has-slimscroll">
                    <div class="field">
                        <div class="control has-icon">
                            <input type="text" class="input is-rounded search-input" placeholder="Search...">
                            <div class="form-icon">
                                <i data-feather="search"></i>
                            </div>
                            <div class="search-results has-slimscroll"></div>
                        </div>
                    </div>

                    <div class="recent">
                        <h4>Recently viewed</h4>
                        <div class="recent-block">
                            <a class="media-flex-center">
                                <div class="h-icon is-info is-rounded is-small">
                                    <i data-feather="chrome"></i>
                                </div>
                                <div class="flex-meta">
                                    <span>Browser Support</span>
                                    <span>Blog post</span>
                                </div>
                            </a>
                            <a class="media-flex-center">
                                <div class="h-icon is-orange is-rounded is-small">
                                    <i data-feather="tv"></i>
                                </div>
                                <div class="flex-meta">
                                    <span>Twitch API</span>
                                    <span>Blog post</span>
                                </div>
                            </a>
                            <a class="media-flex-center">
                                <div class="h-icon is-green is-rounded is-small">
                                    <i data-feather="twitter"></i>
                                </div>
                                <div class="flex-meta">
                                    <span>Twitter Auth</span>
                                    <span>Blog post</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="recent">
                        <h4>Recent Members</h4>
                        <div class="recent-block">
                            <a class="media-flex-center">
                                <div class="h-avatar is-small">
                                    <img class="avatar" src="https://via.placeholder.com/150x150"
                                         data-demo-src="assets/img/avatars/photos/7.jpg" alt="" data-user-popover="0">
                                </div>
                                <div class="flex-meta">
                                    <span>Alice C.</span>
                                    <span>Software Engineer</span>
                                </div>
                            </a>
                            <a class="media-flex-center">
                                <div class="h-avatar is-small">
                                    <img class="avatar" src="https://via.placeholder.com/150x150"
                                         data-demo-src="assets/img/avatars/photos/13.jpg" alt="" data-user-popover="6">
                                </div>
                                <div class="flex-meta">
                                    <span>Tara S.</span>
                                    <span>UI/UX Designer</span>
                                </div>
                            </a>
                            <a class="media-flex-center">
                                <div class="h-avatar is-small">
                                    <img class="avatar" src="https://via.placeholder.com/150x150"
                                         data-demo-src="assets/img/avatars/photos/22.jpg" alt="" data-user-popover="5">
                                </div>
                                <div class="flex-meta">
                                    <span>Jimmy H.</span>
                                    <span>Project Manager</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Wrapper -->
        <div class="view-wrapper view-wrapper-full" data-mobile-item="#home-sidebar-menu-mobile" data-sidebar-open>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-title has-text-centered">
                        <div class="title-wrap is-flex">
                            <div class="huro-hamburger nav-trigger push-block" data-sidebar="sidebar-block">
                                <span class="menu-toggle has-chevron">
                                    <span class="icon-box-toggle">
                                         <span class="rotate">
                                             <i class="icon-line-top"></i>
                                             <i class="icon-line-center"></i>
                                             <i class="icon-line-bottom"></i>
                                         </span>
                                    </span>
                                </span>
                            </div>
                            <h1 class="title is-4">Blank Template</h1>
                        </div>

                        <div class="toolbar">
                            <div class="toolbar-link is-hidden-mobile">
                                <label class="dark-mode ml-auto">
                                    <input type="checkbox" checked>
                                    <span></span>
                                </label>
                            </div>

                            <a class="toolbar-link right-panel-trigger is-hidden-mobile" data-panel="languages-panel">
                                <img src="{{ asset('build/img/icons/flags/france.svg') }}" alt="Langue sélectionnée: France" title="Langue sélectionnée: français. Cliquer pour modifer.">
                            </a>

                            <div class="toolbar-notifications">
                                <div class="dropdown is-spaced is-dots is-right dropdown-trigger">
                                    <div class="is-trigger" aria-haspopup="true">
                                        <i data-feather="bell"></i>
                                        <span class="new-indicator pulsate"></span>
                                    </div>
                                    <div class="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <div class="heading">
                                                <div class="heading-left">
                                                    <h6 class="heading-title">Notifications</h6>
                                                </div>
                                                <div class="heading-right">
                                                    <a class="notification-link"
                                                       href="#">See all</a>
                                                </div>
                                            </div>
                                            <ul class="notification-list">
                                                <li>
                                                    <a class="notification-item">
                                                        <div class="img-left">
                                                            <img class="user-photo" alt=""
                                                                 src="https://via.placeholder.com/150x150"
                                                                 data-demo-src="assets/img/avatars/photos/7.jpg"/>
                                                        </div>
                                                        <div class="user-content">
                                                            <p class="user-info"><span class="name">Alice C.</span> left
                                                                a comment.</p>
                                                            <p class="time">1 hour ago</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="notification-item">
                                                        <div class="img-left">
                                                            <img class="user-photo" alt=""
                                                                 src="https://via.placeholder.com/150x150"
                                                                 data-demo-src="assets/img/avatars/photos/12.jpg"/>
                                                        </div>
                                                        <div class="user-content">
                                                            <p class="user-info"><span class="name">Joshua S.</span>
                                                                uploaded a file.</p>
                                                            <p class="time">2 hours ago</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="notification-item">
                                                        <div class="img-left">
                                                            <img class="user-photo" alt=""
                                                                 src="https://via.placeholder.com/150x150"
                                                                 data-demo-src="assets/img/avatars/photos/13.jpg"/>
                                                        </div>
                                                        <div class="user-content">
                                                            <p class="user-info"><span class="name">Tara S.</span> sent
                                                                you a message.</p>
                                                            <p class="time">2 hours ago</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="notification-item">
                                                        <div class="img-left">
                                                            <img class="user-photo" alt=""
                                                                 src="https://via.placeholder.com/150x150"
                                                                 data-demo-src="assets/img/avatars/photos/25.jpg"/>
                                                        </div>
                                                        <div class="user-content">
                                                            <p class="user-info"><span class="name">Melany W.</span>
                                                                left a comment.</p>
                                                            <p class="time">3 hours ago</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

{#                            <a class="toolbar-link right-panel-trigger is-hidden-mobile" data-panel="activity-panel">#}
{#                                <i data-feather="grid"></i>#}
{#                            </a>#}
                            <a class="toolbar-link right-panel-trigger" data-panel="logout" title="Se déconnecter" href="{{ path('app_logout') }}">
                                <i data-feather="log-out"></i>
                            </a>
                        </div>
                    </div>

                    <div class="page-content-inner">
                        <!--Page content goes here-->
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
