<section class="section has-background-white-bis">
    <div class="container">
        <div class="columns is-multiline is-justify-content-space-between">
            <div class="column is-2">
                <a href="#">
                    <img src="{{ asset('icons/logo-2.svg') }}" alt="" width="200">
                </a>
            </div>
            <div class="column is-3">
                <p class="subtitle">Trouvez simplement et rapidement des partenaires de tennis.</p>
            </div>
            <div class="column is-2">
                <h3 class="title is-size-5 is-spaced mb-3">Contacts</h3>
                <p class="subtitle">hello@gmail.com</p>
            </div>
        </div>
        <div class="mt-5 is-flex is-justify-content-space-between">
            <p class="subtitle is-size-7">© 2023. All rights reserved.</p>
            <div>
                <a href="#">
                    Termes
                </a>
                <a href="#">
                    Confidentialité
                </a>
                <a href="#">
                    Plan du site
                </a>
            </div>
        </div>
    </div>
</section>